---
import { Nav } from '../components/Nav.jsx'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Angel Guzmán | Desarrollador Web</title>
		<link rel="canonical" href="https://angelbyte.dev/">
	</head>
	<body class="min-h-screen bg-fixed bg-custom-gradient">
		<Nav />
	</body>
</html>
