<section
	class='flex flex-col justify-center items-center gap-3 w-[90vw] md:w-[50vw] my-2 md:my-4 mx-auto text-white'>
	<h1 class='self-start mb-2 md:mb-4 text-3xl md:text-4xl'>Sobre Mi</h1>
	<img
		class='rounded-full object-cover aspect-square w-4/12'
		src='/Angel-AboutMe.webp'
		alt='Foto de perfil'
	/>
	<p class='self-start text-sm md:text-lg mb-4'>
		¡Hola! Soy Ángel, un desarrollador web autodidacta de México. Desde mi primera
		clase de computación supe que la informática era mi pasión, lo que me llevó a
		elegir el desarrollo web en la universidad. Llevo 6 meses creando sitios,
		destacando un proyecto con Next.js que emplea SEO avanzado y seguridad con
		Cloudflare.
	</p>
	<p class='self-start text-sm md:text-lg mb-4'>
		Disfruto resolver problemas y nunca dejo de aprender: utilizo recursos en
		línea (YouTube, Udemy, Platzi, Midudev) y mi formación académica para seguir
		creciendo. Mi objetivo es convertirme en un referente en la creación de
		proyectos y llegar a ser fullstack. Fuera del código, sigo formándome con
		cursos y, cuando es posible, me relajo jugando videojuegos.
	</p>
	<button
		class='flex gap-1 bg-element-list rounded-lg p-[0.3rem] text-[0.65rem] md:text-sm text-white justify-center items-center'>
		<a href='/'>Curriculum</a>
		<svg
			fill='#fff'
			xmlns='http://www.w3.org/2000/svg'
			x='0px'
			y='0px'
			width='15'
			height='15'
			viewBox='0 0 50 50'>
			<path
				d='M 7 2 L 7 48 L 43 48 L 43 14.59375 L 42.71875 14.28125 L 30.71875 2.28125 L 30.40625 2 Z M 9 4 L 29 4 L 29 16 L 41 16 L 41 46 L 9 46 Z M 31 5.4375 L 39.5625 14 L 31 14 Z M 15 22 L 15 24 L 35 24 L 35 22 Z M 15 28 L 15 30 L 31 30 L 31 28 Z M 15 34 L 15 36 L 35 36 L 35 34 Z'
			></path>
		</svg>
	</button>
</section>
