<section
	class='flex flex-col justify-center items-center gap-3 w-full my-2 md:my-4 mx-auto text-white'
	id='aboutme'>
	<h1 class='self-start mb-2 md:mb-4 text-3xl md:text-4xl'>Sobre Mi</h1>
	<img
		class='rounded-full object-cover aspect-square w-4/12'
		src='/Angel-AboutMe.webp'
		alt='Foto de perfil'
	/>
	<p class='self-start text-sm md:text-lg mb-4'>
		¡Hola! <span class='text-cyan-400'>Soy Ángel</span>, un <span
			class='text-yellow-300'>desarrollador web autodidacta</span
		>. Desde mi primera clase de <span class='text-yellow-300'>computación</span> supe
		que la <span class='text-yellow-300'>informática</span> era mi <span
			class='text-yellow-300'>pasión</span
		>, lo que me llevó a elegir el <span class='text-cyan-400'
			>desarrollo web</span
		> en la universidad. <!-- Llevo <span class='text-yellow-300'>6 meses</span> creando
		sitios, destacando un proyecto con <span class='text-yellow-300'>Next.js</span
		>
		que emplea <span class='text-yellow-300'>SEO</span> y seguridad con <span
			class='text-yellow-300'>Cloudflare</span
		>. -->
	</p>
	<p class='self-start text-sm md:text-lg mb-4'>
		Disfruto <span class='text-cyan-400'>resolver problemas</span> y nunca dejo de
		<span class='text-yellow-300'>aprender</span>, utilizo <span
			class='text-yellow-300'>recursos en línea</span
		> y mi <span class='text-yellow-300'>formación académica</span> para seguir creciendo.
		Mi objetivo es convertirme en un <span class='text-yellow-300'>referente</span
		> en la <span class='text-yellow-300'>creación de proyectos</span> y llegar a ser
		<span class='text-cyan-400'>fullstack</span>. Fuera del código, sigo
		formándome con <span class='text-yellow-300'>cursos</span> y, cuando es posible,
		me relajo jugando videojuegos.
	</p>
	<!-- <button
		class='flex gap-1 bg-element-list rounded-lg p-[0.3rem] text-[0.65rem] md:text-sm text-white justify-center items-center'>
		<a href='/'>Curriculum</a>
		<svg
			fill='#fff'
			xmlns='http://www.w3.org/2000/svg'
			x='0px'
			y='0px'
			width='15'
			height='15'
			viewBox='0 0 50 50'>
			<path
				d='M 7 2 L 7 48 L 43 48 L 43 14.59375 L 42.71875 14.28125 L 30.71875 2.28125 L 30.40625 2 Z M 9 4 L 29 4 L 29 16 L 41 16 L 41 46 L 9 46 Z M 31 5.4375 L 39.5625 14 L 31 14 Z M 15 22 L 15 24 L 35 24 L 35 22 Z M 15 28 L 15 30 L 31 30 L 31 28 Z M 15 34 L 15 36 L 35 36 L 35 34 Z'
			></path>
		</svg>
	</button> -->
</section>
