---

---

<footer class='relative z-10 mx-auto w-full border-t py-3'>
	<p class='text-center text-white'>
		<span>Hecho con</span>
		<span
			class='overflow-hidden -m-px h-px w-px whitespace-nowrap p-0 border- absolute'
			style={{
				clip: 'rect(0, 0, 0, 0)',
				borderWidth: '0'
			}}>Amor</span
		>
		<svg
			width='1em'
			height='1em'
			viewBox='0 0 130 130'
			class='mx-px mb-px inline animate-beat'
			data-astro-cid-zdixzrtd=''
			data-icon='heart'>
			<symbol id='ai:local:heart'
				><path
					fill='#ff0707'
					d='M65 29c-6-10-16-17-28-17C20 12 7 25 7 42c0 33 18 38 58 76 40-38 58-43 58-76 0-17-13-30-30-30-12 0-22 7-28 17z'
				></path></symbol
			><use xlink:href='#ai:local:heart'></use>
		</svg>
		<span>por <strong class='text-[#22d3ee]'>Angel Guzmán</strong></span>
	</p>
</footer>
