---

---

<section
	class='flex flex-col justify-center items-center gap-3 w-[90vw] md:w-[50vw] my-2 md:my-4 mx-auto text-white'>
	<h1 class='self-start mb-2 md:mb-4 text-3xl md:text-4xl'>Tecnologías</h1>
	<p>
		En mi travesía por el emocionante universo del <span class='text-yellow-300'
			>desarrollo de software</span
		>, he adquirido conocimientos y habilidades en diversas <span
			class='text-[#2cc9ff]'>herramientas</span
		> y
		<span class='text-[#2cc9ff]'>plataformas</span>. <span class='text-yellow-300'
			>Mi stack tecnológico abarca:</span
		>
	</p>
	<div class='md:grid-cols-2 grid md:w-full gap-1'>
		<article
			class='flex flex-col justify-start items-center py-4 px-1 md:py-4 md:px-1 md:border-solid border-[1px] border-[#0f172a] gap-4 bg-fuchsia-950 backdrop-opacity-5 backdrop-blur-lg rounded-lg'>
			<h1 class='text-[#2cc9ff] font-bold text-xl md:text-2xl'>FrontEnd</h1>
			<ul class='flex flex-wrap justify-center items-center gap-4'>
				<li class='listTechnologies'>
					<svg width='50' height='50'>
						<use xlink:href='/icons.svg#html'></use>
					</svg>
					<span class='text-xs md:text-lg'>HTML</span>
				</li>
				<li class='listTechnologies'>
					<svg width='50' height='50'>
						<use xlink:href='/icons.svg#css'></use>
					</svg>
					<span class='text-xs md:text-lg'>CSS</span>
				</li>
				<li class='listTechnologies'>
					<svg width='50' height='50'>
						<use xlink:href='/icons.svg#js'></use>
					</svg>
					<span class='text-xs md:text-lg'>JavaScript</span>
				</li>
				<li class='listTechnologies'>
					<!-- SVG Tailwind -->
					<svg width='50' height='50'>
						<use xlink:href='/icons.svg#tailwind'></use>
					</svg>
					<span class='text-xs md:text-lg'>Tailwind</span>
				</li>
			</ul>
		</article>
		<article
			class='flex flex-col justify-start items-center py-4 px-1 md:py-4 md:px-1 md:border-solid border-[1px] border-[#0f172a] gap-4 bg-fuchsia-950 backdrop-opacity-5 backdrop-blur-lg rounded-lg'>
			<h1 class='text-[#33cc36] font-bold text-xl md:text-2xl'>BackEnd</h1>
			<ul class='flex flex-wrap justify-center items-center gap-4'>
				<li class='listTechnologies'>
					<svg width='50' height='50'>
						<use xlink:href='/icons.svg#mysql'></use>
					</svg>
					<span class='text-xs md:text-lg'>MySQL</span>
				</li>
			</ul>
		</article>
		<article
			class='flex flex-col justify-start items-center py-4 px-1 md:py-4 md:px-1 md:border-solid border-[1px] border-[#0f172a] gap-4 bg-fuchsia-950 backdrop-opacity-5 backdrop-blur-lg rounded-lg'>
			<h1 class='text-[#b9b7fb] font-bold text-xl md:text-2xl'>Aprendiendo</h1>
			<ul class='flex flex-wrap justify-center items-center gap-4'>
				<li class='listTechnologies'>
					<svg width='50' height='50'>
						<use xlink:href='/icons.svg#react'></use>
					</svg>
					<span class='text-xs md:text-lg'>React</span>
				</li>
				<li class='listTechnologies'>
					<svg width='50' height='50'>
						<use xlink:href='/icons.svg#typescript'></use>
					</svg>
					<span class='text-xs md:text-lg'>TypeScript</span>
				</li>
				<li class='listTechnologies'>
					<svg width='50' height='50'>
						<use xlink:href='/icons.svg#astro'></use>
					</svg>
					<span class='text-xs md:text-lg'>Astro</span>
				</li>
				<li class='listTechnologies'>
					<svg width='50' height='50'>
						<use xlink:href='/icons.svg#nextjs'></use>
					</svg>
					<span class='text-xs md:text-lg'>NextJS</span>
				</li>
				<li class='listTechnologies'>
					<svg width='50' height='50'>
						<use xlink:href='/icons.svg#nodejs'></use>
					</svg>
					<span class='text-xs md:text-lg'>NodeJS</span>
				</li>
				<li class='listTechnologies'>
					<svg width='50' height='50'>
						<use xlink:href='/icons.svg#express'></use>
					</svg>
					<span class='text-xs md:text-lg'>ExpressJS</span>
				</li>
				<li class='listTechnologies'>
					<svg width='50' height='50'>
						<use xlink:href='/icons.svg#figma'></use>
					</svg>
					<span class='text-xs md:text-lg'>Figma</span>
				</li>
				<li class='listTechnologies'>
					<svg width='50' height='50'>
						<use xlink:href='/icons.svg#python'></use>
					</svg>
					<span class='text-xs md:text-lg'>Python</span>
				</li>
			</ul>
		</article>
		<article
			class='flex flex-col justify-start items-center py-4 px-1 md:py-4 md:px-1 md:border-solid border-[1px] border-[#0f172a] gap-4 bg-fuchsia-950 backdrop-opacity-5 backdrop-blur-lg rounded-lg'>
			<h1 class='text-[#ff7c7c] font-bold text-xl md:text-2xl'>Herramientas</h1>
			<ul class='flex flex-wrap justify-center items-center gap-4'>
				<li class='listTechnologies'>
					<svg width='50' height='50'>
						<use xlink:href='/icons.svg#git'></use>
					</svg>
					<span class='text-xs md:text-lg'>Git</span>
				</li>
				<li class='listTechnologies'>
					<svg width='50' height='50'>
						<use xlink:href='/icons.svg#github'></use>
					</svg>
					<span class='text-xs md:text-lg'>GitHub</span>
				</li>
				<li class='listTechnologies'>
					<svg width='50' height='50'>
						<use xlink:href='/icons.svg#vsc'></use>
					</svg>
					<span class='text-xs md:text-lg'>VSC</span>
				</li>
				<li class='listTechnologies'>
					<svg width='50' height='50'>
						<use xlink:href='/icons.svg#npm'></use>
					</svg>
					<span class='text-xs md:text-lg'>Npm</span>
				</li>
				<li class='listTechnologies'>
					<svg width='50' height='50'>
						<use xlink:href='/icons.svg#pnpm'></use>
					</svg>
					<span class='text-xs md:text-lg'>Pnpm</span>
				</li>
			</ul>
		</article>
	</div>
</section>
